/* ========================= DEBUG ============================== */

.debug-row {
    border: 1px dashed yellow;
}

.debug {
    border: 1px solid black;
}

.debug-height {
    height: 500px;
}

.debug-background {
    background-color: purple;
}

/* ========================= /DEBUG ============================== */

* {
    margin: 0;
    padding: 0;
}

.main-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.banner{
    min-height: 18rem;
    background: #F9F9F9 0% 0% no-repeat padding-box;
}

#banner-img {
    padding: 17px 25px;
    background-color: #fff;
}

.main-purple {
    background-color: #662483;
}

#top-bar-container {
    color: white;
    background-color: #662483;
    padding: 8px 15px;
}

#top-bar-container {
    color: white;
    background-color: #662483;
    padding: 8px 15px;
}

#content {
    border-radius: 5px 5px 0 0;
}

#content-header {
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #662483;
    color: #fff;
}

#content-nav {
    padding-left: 0;
    padding-top: 0.3em;
}

div#content-body li.nav-item {
    padding: 5px;
}

#sheshow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-menu {
    list-style-type: none;
}

#content-body {
    min-height: 400px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}


.nav, .nav-tabs, .nav-item, .nav-link {
    border: none !important;
    margin: 0 !important;
}


