/*.debug-row {
            border: 1px dashed yellow;
        }*/

.debug {
    border: 1px solid black;
}

#top-bar-container {
    color: white;

    background-color: #662483;
    padding: 5px 15px;
}

.banner{
    min-height: 18rem;
}