
.banner{
    min-height: 18rem;
}

.debug-row {
    border: 1px dashed yellow;
}

.debug {
    border: 1px solid black;
}

.main-purple {
    background-color: #662483;
}

#top-bar-container {
    color: white;
    background-color: #662483;
    padding: 5px 15px;
}


#top-bar-container {
    color: white;
    background-color: #662483;
    padding: 5px 15px;
}

#content {
    border-radius: 5px 5px 0 0;
}

#content-header {
    margin-left: 0;
    margin-right: 0;
    background-color: #662483;
    color: #fff;
}

#content-nav {
    padding-left: 0;
    padding-top: 0.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#content-body li.nav-item {
    padding: 5px;
}

#sheshow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#left-menu {
    list-style-type: none;
}

#content-body {
    min-height: 400px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-tabs > li > a.active {
  color: #662483 !important;
}

.nav-tabs > li > a {
  color: white;
}